#kinds
  - if @collection.kinds
    %h2 Kinds
    - @collection.kinds.each do |kind|
      %table{:border=>1}
        %tr
          %td
            %b term
          %td= kind.term
        %tr
          %td
            %b scheme
          %td= kind.scheme
        %tr
          %td
            %b title
          %td= kind.title
  - if @collection.mixins
    %h2 Mixins
    - @collection.mixins.each do |mixin|
      %table{:border=>1}
        %tr
          %td
            %b term
          %td= mixin.term
        %tr
          %td
            %b scheme
          %td= mixin.scheme
        %tr
          %td
            %b title
          %td= mixin.title
  - if @collection.actions
    %h2 Actions
    - @collection.actions.each do |action|
      %table{:border=>1}
        %tr
          %td
            %b term
          %td= action.term
        %tr
          %td
            %b scheme
          %td= action.scheme
        %tr
          %td
            %b title
          %td= action.title
  - if @collection.resources
    %h2 Resources
    - @collection.resources.each do |resource|
      %table{:border=>1}
        %tr
          %td
            %b title
          %td= resource.title
        %tr
          %td
            %b kind
          %td= resource.kind